@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
    background: linear-gradient(135deg, #1a1a1a 0%, #00529F 50%, #EE324E 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main1{
    background-color: white;
    height: 700px;
    width: 920px;
    display: flex;
    border-radius: 20px;

}
.main2{
    background-color: #EE324E;
    width: 282px;
    height: 700px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.main3{
    background-color:  #00529F;
    height:450px ;
    width: 280px;
    position: relative;
    left: 80px;
    top: 100px;
    display: flex;
    overflow: hidden;
    border-radius: 50px;
}
.main3 img{
    width: 282px;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    
}

.slider{
    display: flex;
    height: 100%;
    animation: slider 20s infinite;
    
}

@keyframes slider {

    0%, 20%{
        transform:  translateX(0);

    }
    25%, 45%{
        transform: translateX(-280px);

    }
    50%, 70%{
        transform: translateX(-560px);

    }
    75%, 95%{
        transform: translateX(-840px);

    }
    100%{
        transform: translateX(-1130px);
    }
    
}
.content{
    position: relative;
}
.section{
    flex: 1;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 37px;
}
.head h1{
    font-size: 35px;
    color: #1a1a1a;
    margin-bottom: 10px;
    font-weight: 600;
}

.head p{
    color: #666;
    margin-bottom: 30px;
    font-size: 14px;
}

.form-group{
    margin-bottom: 24px;
}
.form-group label{
    display: block;
    margin-bottom: 7px;
    color: #333;
    font-size: 15px;
    font-weight: 500;
}
.form-group input{
    width: 100%;
    padding: 12px 16px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.3s ease
   
}
.form-group input:focus{
    border-color:  #00529F;
    box-shadow: 0 0 0 3px rgba(0, 82, 159, 0.1) ;
}
.form-row{
    display: flex;
    gap: 16px;
}
.form-group .form-row{
    flex: 1;
}
.btn-primary{
    width: 100%;
    padding: 15px;
    background-color: #00529F;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}
.btn-primary:hover{
    transform: translateY(-2px);
    box-shadow: 0 7px 20px #4d86bc;
}

.btn-primary:active{
    transform: translateY(0);
    background-color: #EE324E;
}
.divider{
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: #999;
    font-size: 20px;
}

.divider::before,
.divider::after{
    content: '';
    flex: 1;
    height: 1px;
    background-color: #e0e0e0;
}
.divider::before{
    margin-right: 15px;
}
.divider::after{
    margin-left: 15px;
}


.social-button{
    display: flex;
    gap: 10px;
}

.btn-social{
    flex: 1;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #333;
}


.btn-social:hover{
    border-color: #00529F;
    background-color: #f8f9fa;

}
.footer-text a {
    color: #00529F;
    text-decoration: none;
    font-weight: 600;
}
.footer-text{
    text-align: center;
    margin-top: 25px;
    color: #666;
    font-size: 15px;
}

.footer-text a:hover {
    text-decoration: underline;
}

@media (max-width: 970px) {
    .main1{
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .main2{
        width: 100%;
        height: 200px;

    }

    .main3{
        width: 200px;
        height: 210px;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
    }

    .section{
        padding: 200px 30px 40px 30px;
    }
    .form-row{
        flex-direction: column;
        gap: 0;
    }

    
}

.logo img{
    height: 300px;
    background-color: transparent;
}
.logo{
   display: flex;
    margin-top: 2px;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    margin-top: 70px;
}
.logo h1{
    text-align: center;
    font-size: 50px;
    color: #FFD700;
}
.logo p{
    text-align: center;
}
.divider1{
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin: 15px, 0;
    color: #999;
}
.follow-btn{
    margin-top: 30px;
    display: flex;
    gap: 2px;
    
}

.btn-follow{
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    background-color: transparent;
    border: 1px solid #e0e0e0;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: row;
}
.btn-follow:hover{
    background-color: #4d86bc;
    border: 3px solid #00529F;

}
.foot{
    margin-top: 47px;
    font-size: 40px;
    font-weight: 600;
    color: #FFD700;
}
.ucl{
    position: absolute;
    right: 30px;
    top: 25px;
}