@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100vh;            
    background-image: url(https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
   
 }
 
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px transparent;
    height: 370px;
    width: 400px;
    gap: 8px;
    border-radius: 20px;
    background-color: transparent;
    
}

.main:hover{
    border: 3px solid lightgoldenrodyellow;
    transform: scale(1.07);
}
h1{
    text-align: center;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
}
.box1{
    padding: 7px;
    border-radius: 10px;
    width: 250px;
    margin-top: 20px;
}
.b1{
    font-size: 15px;
}
a{
    text-decoration: none;
    color: #FEBE10;
    font-weight: 600;

}

.capsul{
    display: flex;
    gap: 7px;

    flex-direction: column;
}
button{
    cursor: pointer;
    width: 250px;
    height: 35px;
    padding: 5px;
    border-radius: 12px;
    border: none;
    background: #00529F;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}
button:hover{
    transform: scale(1.05);
    background: #EE324E;
}
.capsul input{
    margin-bottom: 10px;
}


